<form action="https://oe.us13.list-manage.com/subscribe/post?u=57778163aacf3b56841696fe1&amp;id=8445d592ef" method="post" class="c-footer__form js-newsletter-form">
  <div>
    <div class="c-footer__form-row">
      <div class="c-footer__form-text">
        Newsletter sign up:&nbsp;
      </div>

      <div>
        <label for="mce-EMAIL" class="show-for-sr">Email Address</label>
        <input type="email" value="" name="EMAIL" placeholder="Email Address" class="c-footer__form-input" id="mce-EMAIL" required>
        <%# <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> %>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_57778163aacf3b56841696fe1_8445d592ef" tabindex="-1" value=""></div>
      </div>

      <div class="c-footer__form-col-button">
        <button type="submit" class="button c-footer__form-button">
          <span class="show-for-sr">Sign Up</span>
          <span class="icon-angle-right" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="margin-top js-newsletter-form-info c-footer__form-info" role="alert" style="display: none;"></div>
  </div>
</form>
