<%- if can?(:demote_to_user, oecd_representative.user) %>
  <div class="small-4 column">
    <%= link_to demote_to_user_admin_user_path(oecd_representative.user), "data-confirm": "Are you sure?", title: t("admin.users.actions.demote_to_user"), class: "button hollow small expanded" do %>
      <%= t("admin.users.actions.demote_to_user") %>
    <% end %>
  </div>
<% end %>

<%- if can?(:promote_to_admin, oecd_representative.user) %>
  <div class="small-4 column">
    <%= link_to promote_to_admin_admin_user_path(oecd_representative.user), "data-confirm": "Are you sure?", title: t("admin.users.actions.promote_admin"), class: "button hollow small expanded" do %>
      <%= t("admin.users.actions.promote_admin") %>
    <% end %>
  </div>
<% end %>
